.container{
    text-align: center;
    margin-top:23px
}

table{
    margin: auto;
}

input{
    border-radius: 15px;
    border: 5px solid salmon;
    font-size:34px;
    height: 65px;
    width: 456px;
}

button{
    border-radius: 50px;
    font-size: 40px;
    background-color: #fff;    width: 102px;
    height: 90px;
    margin: 6px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 1);
}

.calculator{ 
    border: 4px solid yellow;
    background-color: hotpink;
    padding: 23px;
    border-radius: 21px;
    display: inline-block;
    
}

h1{
    font-size: 28px;
    font-family: 'Courier New', Courier, monospace;
}